.main-title {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .main-title {
        text-align: center;
    }
}

.center-text {
    text-align: center;
}

.boder-test {
    border: 1px dotted black;
}

.image-box {
    padding-bottom: 2em;
    padding-top: 2em;
}

.custom-image-size {
    height: 5em;
    width: 5em;
}

.main-container {
    padding-bottom: 3em;
    padding-top: 3em;
}

.card-info-container {
    padding-bottom: 4em;
    padding-top: 4em;
}

.custom-divider {
    border: 2px solid lightslategray;
    width: 40px;
}

.centered-divider {
    margin: auto;
}

.card-item-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}