.yellow-bgd {
    background-color: #FFE57F;
}

.extra-height {
    height: 850px;
}

.dark-grey-font {
    color: #424242;
}

.header-title-supercontainer {
    height: 92%;
    width: 80%;
}

.header-title {
    font-family: 'Francois One', sans-serif;
    font-size: 8em;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header-title {
        font-size: 4.5em;
    }
}

.subheader-title {
    font-size: 1.1em;
    font-style: italic;
}

.no-shadow {
    box-shadow: none;
}